<a href="https://colab.research.google.com/github/ayush24578/ayush24578-Concepts-and-Technologies-of-AI/blob/main/Ayush_Dhungana_Worksheet2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/AI/bank.csv")
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [ ]:
object_cols = df.select_dtypes(include="object").columns
print("Object columns:", object_cols.tolist())

Object columns: ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome', 'y']

In [ ]:
for col in object_cols:
    print(f"\nUnique values in '{col}':")
    print(df[col].unique())

Unique values in 'job':
['management' 'technician' 'entrepreneur' 'blue-collar' 'unknown'
 'retired' 'admin.' 'services' 'self-employed' 'unemployed' 'housemaid'
 'student']

Unique values in 'marital':
['married' 'single' 'divorced']

Unique values in 'education':
['tertiary' 'secondary' 'unknown' 'primary']

Unique values in 'default':
['no' 'yes']

Unique values in 'housing':
['yes' 'no']

Unique values in 'loan':
['no' 'yes']

Unique values in 'contact':
['unknown' 'cellular' 'telephone']

Unique values in 'month':
['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'jan' 'feb' 'mar' 'apr' 'sep']

Unique values in 'poutcome':
['unknown' 'failure' 'other' 'success']

Unique values in 'y':
['no' 'yes']

In [ ]:
null_counts = df.isnull().sum()
print(null_counts)

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [ ]:
df_numeric = df.drop(columns=object_cols)
df_numeric.to_csv("banknumericdata.csv", index=False)
df_numeric

       age  balance  day  duration  campaign  pdays  previous
0       58     2143    5       261         1     -1         0
1       44       29    5       151         1     -1         0
2       33        2    5        76         1     -1         0
3       47     1506    5        92         1     -1         0
4       33        1    5       198         1     -1         0
...    ...      ...  ...       ...       ...    ...       ...
45206   51      825   17       977         3     -1         0
45207   71     1729   17       456         2     -1         0
45208   72     5715   17      1127         5    184         3
45209   57      668   17       508         4     -1         0
45210   37     2971   17       361         2    188        11

[45211 rows x 7 columns]

In [ ]:
df_new = pd.read_csv("banknumericdata.csv")
df_new.describe()

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/AI/medical_students_dataset.csv")
df.head()

,Student ID,Age,Gender,Height,Weight,Blood Type,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Diabetes,Smoking
0,1.0,18.0,Female,161.777924,72.354947,O,27.645835,NaN,95.0,109.0,203.0,No,NaN
1,2.0,NaN,Male,152.069157,47.630941,B,NaN,98.714977,93.0,104.0,163.0,No,No
2,3.0,32.0,Female,182.537664,55.741083,A,16.729017,98.260293,76.0,130.0,216.0,Yes,No
3,NaN,30.0,Male,182.112867,63.332207,B,19.096042,98.839605,99.0,112.0,141.0,No,Yes
4,5.0,23.0,Female,NaN,46.234173,O,NaN,98.480008,95.0,NaN,231.0,No,No

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [ ]:
df.isnull().sum()

Student ID        20000
Age               20000
Gender            20000
Height            20000
Weight            20000
Blood Type        20000
BMI               20000
Temperature       20000
Heart Rate        20000
Blood Pressure    20000
Cholesterol       20000
Diabetes          20000
Smoking           20000
dtype: int64

In [ ]:
num_cols = ['Age','Height','Weight','BMI','Temperature','Heart Rate','Blood Pressure','Cholesterol']
for col in num_cols:
    df[col].fillna(df[col].median(), inplace=True)

/tmp/ipython-input-2669412229.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)

In [ ]:
cat_cols = ['Gender','Blood Type','Diabetes','Smoking']
for col in cat_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

/tmp/ipython-input-1557877404.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [ ]:
df['Student ID'].fillna(method='ffill', inplace=True)

/tmp/ipython-input-786313782.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Student ID'].fillna(method='ffill', inplace=True)
/tmp/ipython-input-786313782.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Student ID'].fillna(method='ffill', inplace=True)

In [ ]:
duplicates = df.duplicated().sum()

In [ ]:
df[df.duplicated()]

,Student ID,Age,Gender,Height,Weight,Blood Type,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Diabetes,Smoking
100007,8.0,28.0,Male,186.489402,52.389752,AB,15.063921,98.227788,85.0,123.0,128.0,No,No
100011,12.0,34.0,Female,182.416302,76.371050,AB,22.950992,98.118274,86.0,97.0,247.0,No,No
100018,19.0,31.0,Female,158.790160,46.829849,AB,18.572723,98.784709,92.0,102.0,172.0,No,No
100022,23.0,29.0,Female,179.909041,90.679436,AB,28.015787,98.782269,81.0,108.0,227.0,No,Yes
100023,24.0,18.0,Male,174.899914,52.521560,AB,13.570402,98.215090,60.0,132.0,217.0,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199965,99966.0,22.0,Female,166.562901,48.684146,AB,17.548137,98.776134,95.0,109.0,152.0,Yes,No
199973,99974.0,25.0,Female,156.297842,90.690186,B,37.123963,98.664591,70.0,132.0,164.0,Yes,No
199983,99984.0,26.0,Male,185.126825,95.531874,O,27.874661,98.824281,75.0,103.0,174.0,No,No
199985,99986.0,23.0,Female,162.884951,82.485778,B,31.089745,98.852347,65.0,94.0,188.0,No,Yes
199988,99989.0,28.0,Male,160.443722,55.688170,O,21.633037,98.487560,70.0,128.0,125.0,No,No

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/AI/Titanic-Dataset.csv")
subset_df = df[['Name', 'Pclass', 'Sex', 'Age', 'Fare', 'Survived']]
first_class = subset_df[subset_df['Pclass'] == 1]

mean_fare = first_class['Fare'].mean()
median_fare = first_class['Fare'].median()
max_fare = first_class['Fare'].max()
min_fare = first_class['Fare'].min()

print("Mean Fare:", mean_fare)
print("Median Fare:", median_fare)
print("Maximum Fare:", max_fare)
print("Minimum Fare:", min_fare)

Mean Fare: 84.1546875
Median Fare: 60.287499999999994
Maximum Fare: 512.3292
Minimum Fare: 0.0

In [ ]:
# Check number of null values in Age column
null_age_count = subset_df['Age'].isnull().sum()
print("Number of null values in Age column:", null_age_count)

# Drop rows where Age is null
subset_df_clean = subset_df.dropna(subset=['Age'])

# Verify that nulls are removed
print("Null values in Age after dropping:", subset_df_clean['Age'].isnull().sum())

Number of null values in Age column: 177
Null values in Age after dropping: 0

In [ ]:
# 1. One-hot encode 'Embarked'
embarked_dummies = pd.get_dummies(df['Embarked'], prefix='Embarked')

# 2. Add to original DataFrame
df = pd.concat([df, embarked_dummies], axis=1)

# 3. Drop original 'Embarked'
df.drop('Embarked', axis=1, inplace=True)

# 4. Preview results
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin  Embarked_C  Embarked_Q  Embarked_S
0      0         A/5 21171   7.2500   NaN       False       False        True
1      0          PC 17599  71.2833   C85        True       False       False
2      0  STON/O2. 3101282   7.9250   NaN       False       False        True
3      0            113803  53.1000  C123       False       False        True
4      0            373450   8.0500   NaN       False       False        True

In [ ]:
survival_by_sex = df.groupby('Sex')['Survived'].mean()

print("Mean Survival Rate by Gender:")
print(survival_by_sex)

Mean Survival Rate by Gender:
Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [ ]:
# Mean survival rate by 'Embarked'
# The original 'Embarked' column was dropped in a previous step after one-hot encoding.
# Calculate mean survival for each embarkation port using the one-hot encoded columns.
survival_by_port = pd.Series({
    'C': df[df['Embarked_C'] == True]['Survived'].mean(),
    'Q': df[df['Embarked_Q'] == True]['Survived'].mean(),
    'S': df[df['Embarked_S'] == True]['Survived'].mean()
})

print("Mean Survival Rate by Embarkation Port:")
print(survival_by_port)

Mean Survival Rate by Embarkation Port:
C    0.607692
Q    0.285714
S    0.362816
dtype: float64

In [ ]:
# Remove missing ages
df = df.dropna(subset=['Age'])

# 1. Create 5 quantiles for Age
df['AgeGroup'] = pd.qcut(df['Age'], 5)

# 2. Mean survival grouped by AgeGroup and Pclass
survival_table = df.groupby(['AgeGroup', 'Pclass'])['Survived'].mean()

print("Survival Rate by Age Group and Passenger Class:")
print(survival_table)

Survival Rate by Age Group and Passenger Class:
AgeGroup       Pclass
(0.419, 19.0]  1         0.809524
               2         0.742857
               3         0.333333
(19.0, 25.0]   1         0.761905
               2         0.400000
               3         0.197674
(25.0, 31.8]   1         0.666667
               2         0.416667
               3         0.283582
(31.8, 41.0]   1         0.777778
               2         0.461538
               3         0.166667
(41.0, 80.0]   1         0.506667
               2         0.363636
               3         0.088235
Name: Survived, dtype: float64

/tmp/ipython-input-427970204.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['AgeGroup'] = pd.qcut(df['Age'], 5)
/tmp/ipython-input-427970204.py:8: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  survival_table = df.groupby(['AgeGroup', 'Pclass'])['Survived'].mean()